/* Navbar.css */

.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
        height: 75px;
            position: fixed;
                top: 0;
                width: 100%;
                align-items: center;
                     justify-content: center;
                     vertical-align: middle;
    /* Adjust padding as needed */
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
padding-top: 0.5rem;
  
}
.logoImg{
width: 4rem;
height: auto;
}
.navbarLogo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.navbarLinks {
    display: flex;
}

.navbarLink {
    margin-right: 20px;
    color: #333;
    /* Set link color */
    text-decoration: none;
    font-weight: bold;

    /* Add hover effect */
    transition: color 0.3s ease-in-out;
}

.navbarLink:hover {
    color: #ff4500;
    /* Change color on hover */
}